<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bobo.senior1.week1.dao.MovieMapper">

	<select id="selectTypes" resultType="type">

		select * from t_type

	</select>


	<!-- 删除中间表 -->
	<delete id="deleteMiddle">
		delete from t_middle where mid =#{mid}

	</delete>
	
	
	<update id="update" >
	
	update t_movie set name=#{name},actor =#{actor},pdate=#{pdate},about=#{about} where id=#{id}
	
	</update>


	<!-- 批量删除电影表 -->
	<delete id="delete">

		delete from t_movie where id in
		<foreach collection="array" open="(" item="id" separator=","
			close=")">

			#{id}

		</foreach>

	</delete>


	<!-- 增加中间表 -->
	<insert id="insertMiddle">
		insert into t_middle (mid ,tid )values(#{mid},#{tid})


	</insert>


	<insert id="insert" useGeneratedKeys="true" keyProperty="id">

		<!-- 产生自增主键值 -->
		<!-- <selectKey order="after" keyProperty="id" resultType="int" > select 
			last_insert_id() </selectKey> -->

		insert into t_movie (name,actor,about,pdate)
		values(#{name},#{actor},#{about},#{pdate})

	</insert>


	<select id="selects" resultType="map">

		SELECT m.* ,GROUP_CONCAT(t.type) as type from t_movie m LEFT JOIN
		t_middle m1 on m.id =m1.mid
		left join t_type t on m1.tid =t.id

		<where>
			<if test="name!=null and name!=''">

				name like "%"#{name}"%"

			</if>

		</where>


		GROUP BY m.id

	</select>


	<select id="select" resultType="movie">

		select * from t_movie where id=#{id}

	</select>

	<select id="selectByMid" resultType="middle">

		select * from t_middle where mid =#{mid}

	</select>

</mapper>